@media only screen and (min-width: 1000px) {
    * {
        box-sizing: border-box;
        font-family: "Open Sans", sans-serif;
    }

    body {
        margin: 0;
        border: 0;
        padding-top: 64px;
    }
    
    header {
        height: 64px;
        position: fixed;
        display: flex;
        justify-content: flex-end;
        top: 0;
        width: 100%;
        align-items: center;
        z-index: 1;
        background-color: white;
    }

    .logo-name {
        display: flex;
        justify-content: center;
        margin-right: auto;
        align-items: center;
    }

    .logo-text {
        height: 32px;
        text-transform: uppercase;
    }

    .bold {
        font-weight: bold;
    }

    .light {
        font-weight: lighter;
    }

    .logo {
        margin-left: 24px;
        height: 50px;
    }

    .container-1 {
        background-color: rgb(211, 210, 210);
        width: 100%;
        height: 640px;
        display: flex;
        justify-content: flex-start;
        padding-right: 50px;
    }

    .banner-button-div {
        width: 90%;
    }

    .banner-button {
        padding: 15px 40px;
        background-color: rgb(63, 63, 63);
        text-align: center;
        color: white;
        font-size: 20px;
    }

    .sub-1 {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 24px;
        margin-right: 30px;
        color: rgb(77, 77, 77);
    }

    .sub-1 h1 {
        font-size: 40px;
        font-weight: 800;
    }

    .sub-1 h2 {
        margin: 0 auto;
        font-weight: 500;
        margin-bottom: 20px;
    }

    nav {
        align-items: center;
    }

    nav span {
        padding-right: 16px;
    }

    .sign-in {
        padding-right: 24px;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    .container-1 img {
        width: 60%;
        margin: 32px 24px;
    }

    .container-2 {
        width: 100%;
        background-color: white;
        height: 720px;
        display: flex;
    }

    .main-left {
        width: 60%;
        display: col;
        margin: 32px 24px;
        color: rgb(77, 77, 77);
    }

    .main-left img {
        width: 100%;
    }

    .main-left .main-text {
        width: 100%;
    }

    #author {
        padding-top: 32px;
        margin-bottom: 32px;
    }

    .main-right {
        width: 40%;
    }

    .campus-box {
        display: flex;
        padding: 16px 16px;
    }

    .campus-box img {
        width: 35%;
        height: auto;
        margin: 16px 16px;
    }

    .campus-box-text {
        width: 65%;
        text-align: left;
        color:  rgb(77, 77, 77);
        margin: 8px;
    }

    #grey-background {
        background-color: rgb(211, 210, 210);
    }

    .campus-box-text a {
        text-decoration: none;
        color: rgba(0, 0, 255, 0.664);
    }

    .container-3 {
        width: 100%;
        background-color: rgb(211, 210, 210);
        box-sizing: border-box;
    }

    .container-3-inner-box {
        margin: 32px 72px;
        padding-bottom: 32px;
        display: flex;
        flex-direction: rows;
        flex-wrap: wrap;
    }

    .container-3 h1 {
        text-align: center;
        padding-top: 32px;
        color: rgb(77, 77, 77);
    }

    .courses-box {
        display: flex;
        background-color: white;
        flex-direction: column;
        margin: 16px 16px;
        width: 30%;
        float: left;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .courses-box img {
        height: auto;
    }

    .courses-box-text {
        float: left;
        padding: 0;
        margin: 24px 16px;
        color: rgb(77, 77, 77);

    }

    .courses-box-text h3 {
        font-weight: lighter;
        color: rgb(77, 77, 77);
    }






}

@media only screen and (max-width: 999px) {

}

